<!-- Background -->
<div class="background"></div>

<!-- Background stars -->
<canvas id="stars-bg"></canvas>
<script type="module" src="js/helper/background-stars.js"></script>

<!-- Back to home button -->
<a id="back-button" href="http://jiayuanwen.github.io/">
    <ion-icon name="arrow-back-sharp"></ion-icon>
    <script type="module-shim" src="/js/helper/back-button.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</a>

<!-- Blog fade-in effects on load -->
<script type="module" src="js/helper/blogFadeEffect.js"></script>

<!-- Contact info -->
<div class="contact-info">
    <img class="github-avatar" alt="avatar-github" src="https://github.com/jiayuanwen.png"/>

    
</div>
