<!-- Background -->
<div class="background"></div>

<!-- Background stars -->
<canvas id="stars-bg"></canvas>
<script type="module" src="js/helper/background-stars.js"></script>

<!-- Back to home button -->
<a id="back-button" href="http://jiayuanwen.github.io/">
    <ion-icon name="arrow-back-sharp"></ion-icon>
    <script type="module-shim" src="/js/helper/back-button.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</a>

<!-- Blog fade-in effects on load -->
<script type="module" src="js/helper/blogFadeEffect.js"></script>

<!-- Contact info -->
<div class="contact-info">
    <img class="github-avatar" alt="avatar-github" src="https://github.com/jiayuanwen.png"/><br/><br/>
    <span><b>Author:</b><br/> Jiayuan "Weldon" Wen</span><br/><br/>
    <span class="author-descroption">Computer Science B.S. from Pennsylvania State University. VR/AR and Linux enthusiast. Love Art and VFX.</span>
    <hr class="sep-line"/>
    <br/>
    <a rel="noopener noreferrer" target="about:blank" href="https://www.github.com/JiayuanWen"><i class="fa-brands fa-square-github"></i> <span>JiayuanWen</span></a><br/><br/>
    <a rel="noopener noreferrer" target="about:blank" href="https://www.linkedin.com/in/jiayuanwen/"><i class="fa-brands fa-linkedin"></i> <span>Jiayuan Wen</span></a><br/><br/>
    <a href="mailto:wenjiaxiaoyuan@gmail.com"><i class="fa-solid fa-square-envelope"></i> <span>wenjiaxiaoyuan@gmail.com</span></a>
</div>

<!-- Other blog direct links -->
<div class="read-more">
    <span><b>Read More</b></span><br/>
    <hr/>
    
</div>